<section data-ng-controller="UnitsController" data-ng-init="find()">
  <div class="page-header">
    <h1>Units</h1>
    <small>Tracking {{units.length}} units in Brave Frontier</small>
    <input type="search" data-ng-model="q" placeholder="">
  </div>
  <div class="list-group">
    <div data-ng-repeat="unit in units | filter:q | limitTo: 10" class="{{unit.Element}} unit-list-item list-group-item animate-repeat row">

      <div class="row">
        <a data-ng-href="#!/units/{{unit._id}}">
          <div class="col-md-5 unit-description-container">
            <img class="lazy img-large" ng-src="{{unit.Image}}">
            <h2 class="unit-name {{unit.Name}}"><small>#{{unit.ID}} </small>{{unit.Name}}</h2>
            <img class="lazy img-small" ng-src="{{unit.Icon}}">
            <br>
            <br>
            <br>
            <br>
            <span ng-show="unit['Leader Skill'] !== 'None'" class="ng-hide">Leader: {{unit['Leader Skill']}}</span>
            <br>
            <span><img data-ng-src="modules/units/img/battle_crystal.png">{{unit['BB Fill']}} BB - </span>
            <span>{{unit['BB Skill']}}</span>
            <br>
            <span ng-show="unit['SBB Skill'] !== 'None'" class="ng-hide"><img data-ng-src="modules/units/img/battle_crystal.png">{{unit['SBB Fill']}} SBB - </span>
            <span ng-show="unit['SBB Skill'] !== 'None'" class="ng-hide">{{unit['SBB Skill']}}</span>
            <br>
            <br>
          </div>
        </a>
      <div class="col-md-5  col-md-offset-2 unit-stats-container">

        <table class="table table-striped unit-type-grid .col-md-4 ">
          <tr>
            <th>
              <i data-ng-repeat="stars in getTimes(unit.Rarity) track by $index" class="glyphicon glyphicon-star"></i>
            </th>
            <th>HP</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>REC</th>
          </tr>
          <tr>
            <td>Lord</td>
            <td>{{unit['HP Lord']}}</td>
            <td>{{unit['ATK Lord']}}</td>
            <td>{{unit['DEF Lord']}}</td>
            <td>{{unit['REC Lord']}}</td>
          </tr>
          <tr>
            <td>Anima</td>
            <td class="success">{{unit['HP Anima']}}</td>
            <td>{{unit['ATK Anima']}}</td>
            <td>{{unit['DEF Anima']}}</td>
            <td>{{unit['REC Anima']}}</td>
          </tr>
          <tr>
            <td>Breaker</td>
            <td>{{unit['HP Breaker']}}</td>
            <td class="success">{{unit['ATK Breaker']}}</td>
            <td>{{unit['DEF Breaker']}}</td>
            <td>{{unit['REC Breaker']}}</td>
          </tr>
          <tr>
            <td>Guardian</td>
            <td>{{unit['HP Guardian']}}</td>
            <td>{{unit['ATK Guardian']}}</td>
            <td class="success">{{unit['DEF Guardian']}}</td>
            <td>{{unit['REC Guardian']}}</td>
          </tr>
          <tr>
            <td>Oracle</td>
            <td>{{unit['HP Oracle']}}</td>
            <td>{{unit['ATK Oracle']}}</td>
            <td>{{unit['DEF Oracle']}}</td>
            <td class="success">{{unit['REC Oracle']}}</td>
          </tr>
          <tr>
            <th class="">Type Bonus</th>
            <th ng-init="unit.hpBonus = unit['HP Anima'] - unit['HP Lord']" class="success">+{{unit.hpBonus}}</th>
            <th ng-init="unit.atkBonus = unit['ATK Breaker'] - unit['ATK Lord']" class="success">+{{unit.atkBonus}}</th>
            <th ng-init="unit.defBonus = unit['DEF Guardian'] - unit['DEF Lord']" class="success">+{{unit.defBonus}}</th>
            <th ng-init="unit.recBonus = unit['REC Oracle'] - unit['REC Lord']" class="success">+{{unit.recBonus}}</th>
          </tr>
        </table>
        <div class="series">
          <div data-ng-repeat="sUnit in units | filter:{Series : unit['Series']}">{{sUnit['Name']}}{{unit['Series']}}</div>
        </div>
        <div data-ng-init="list = getEvoList(unit)" class="evo-mats">
          <div data-ng-repeat="material in list track by $index">
            <h1> {{material}} </h1>
            <div data-ng-repeat="mat in units | filter:{Name : material } | limitTo: 1">
              <a data-ng-href="#!/units/{{mat._id}}">
                <img data-ng-src="{{mat.Icon}}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<span data-ng-repeat="attr in unit">-->

    <!--<span class="char-attribute">{{attr}}</span>-->
    <!--</span>-->
    <small class="list-group-item-text">
      Posted on
      <span data-ng-bind="unit.created | date:'medium'"></span>
      by
      <span data-ng-bind="unit.user.displayName"></span>
    </small>
    <h4 class="list-group-item-heading" data-ng-bind="unit.name"></h4>
  </div>
  <strong class="animate-repeat" data-ng-if="unit.length == 0">Sorry, no results found...</strong>
</div>
<div class="alert alert-warning text-center" data-ng-hide="!units.$resolved || units.length">
  No Units yet, why don't you <a href="/#!/units/create">create one</a>?
</div>
</section>
